<head>
  <title>CV</title>
  <meta charset="utf-8">
  <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="cv.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="cv-container">
      <div class="left-column">
        <img class="portait" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t39.30808-6/239034369_1494666924222354_7892624679412267386_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=174925&_nc_ohc=2mzDoEpcwSYAX_FmUIK&_nc_ht=scontent-cdt1-1.xx&oh=00_AT8oUS0GXbDqG66eJEXcLZjrvnEg2qNP2YHumVtmJ8M7nA&oe=6290E58F" />
        <div class="section">
          <p>
            <i class="icon fab fa-linkedin text-darkblue"></i> arurt prona
          </p>
        </div>
        <div class="section">
          <h2>À PROPOS DE MA PERSONNE</h2>
          <p>
            Putain j'adore les <strong>sports extrêmes</strong>. C'est ma passion : j’aime avoir peur et bien particulièrement faire peur. Je suis quelqu'un d'<strong>#élégant</strong> et <strong>#imprévisible</strong>. Comme disait Voltaire dans <strong>l'Art de la Guerre</strong>, ne laissez jamais l'ennemi prévoir votre prochain coup. C'est une technique que j’utilise depuis désormais plus de 6 ans. Je suis également un excellent <strong>pilote</strong> mais c'est un atout au potentiel limité quant aux restrictions relatives à la <strong>loi française.</strong>
          </p>
          <p>
            De nature <strong>#ronchon</strong> et <strong>#spectaculaire</strong> dans mon travail, j’aime enrichir mon savoir et mon <strong>#comptecourant</strong>, surmonter les énigmes de la vie et réaliser du travail de qualité. Mes valeurs de travail sont la <strong>liberté</strong>, l'<strong>égalité</strong> et la <strong>fraternité</strong>.
          </p>
        </div>
        <div class="section">
          <h2>COMPÉTENCES</h2>
          <ul class="skills">
            <li><i class="fas fa-clock" style="font-size:18px;color:13918e;text-shadow:2px 2px 4px #000000;"></i></i> <strong>   Les Mathématiques</strong></li>
            <li><i class="fas fa-clock" style="font-size:18px;color:13918e;text-shadow:2px 2px 4px #000000;"></i></i> <strong>   La Webdynamique</strong></li>
            <li><i class="fas fa-clock" style="font-size:18px;color:13918e;text-shadow:2px 2px 4px #000000;"></i></i> <strong>   Le relationnel</strong></li>
            <li><i class="fas fa-clock" style="font-size:18px;color:13918e;text-shadow:2px 2px 4px #000000;"></i></i> <strong>   Javascript</strong></li>
            <li><i class="fas fa-clock" style="font-size:18px;color:13918e;text-shadow:2px 2px 4px #000000;"></i></i> <strong>   Le commercial</strong></li>
            <li><i class="fas fa-clock" style="font-size:18px;color:13918e;text-shadow:2px 2px 4px #000000;"></i></i> <strong>   rien</strong></li>
            <li><i class="fas fa-clock" style="font-size:18px;color:13918e;text-shadow:2px 2px 4px #000000;"></i></i>    je</li>
            <li><i class="fas fa-clock" style="font-size:18px;color:13918e;text-shadow:2px 2px 4px #000000;"></i></i>    fais de</li>
            <li><i class="fas fa-clock" style="font-size:18px;color:13918e;text-shadow:2px 2px 4px #000000;"></i></i>    la</li>
            <li><i class="fas fa-clock" style="font-size:18px;color:13918e;text-shadow:2px 2px 4px #000000;"></i></i>    place</li>
          </ul>
        </div>
        <div class="section">
          <h2>Langues</h2>
          <p>
            Français, langue maternelle
            <br>
            Anglais, bilingue
            <br>
            Allemand, notions
            <br>
            Espagnol, Hechizeros Band - El Sonidito
          </p>
        </div>
        <div class="section">
          <h2>Centres d'intérêt</h2>
          <p>
            Tout ce qui est beau
            <br>
            Musique, Photographie, Cinématographie
            <br>
            Automobile
            <br>
            Gastronomie
            <br>
            Dessin et conception
          </p>
        </div>
      </div>
      <div class="right-column">
        <div class="header">
          <h1>Arurt <span class="text-blue text-uppercase">PREUNA</span></h1>
          <p>Pilote cascadeur professionnel</p>
          <ul class="infos">
            <li><i class="icon fas fa-at text-blue"></i> <a href="mailto:contact@pgomba.com">bdceleve362@gmail.com</a></li>
            <li><i class="icon fas fa-phone text-blue"></i> 06 22 54 41 04</li>
            <li><i class="icon fas fa-map-marker-alt text-blue"></i> 79 rue des Fleurs, 03468 Dudelange</li>
          </ul>
        </div>
        <div class="content">
          <div class="section">
            <h2>Expériences <br><span class="text-blue">professionelles</span></h2>
            <p>
              <strong>2021 <i class="fas fa-long-arrow-alt-right"></i> 2022</strong>
              <br>
              Stage en agence immobilière chez <em> Cabinet GIN</em>
            </p>
            <ul class="experience-list">
              <li>Mise à jour annuelle de la base de données clients parmi 1700 lots</li>
              <li>Réfaction des visuels de l'agence</li>
              <li>Apprentissage express des automatismes inhérents à l'agence</li>
              <li>Accueil client</li>
              <li>Encaissement de loyers et frais</li>
              <li>Visites de biens avec des clients</li>
              <li>Participation non négligeable au dossier des 40 maisons</li>
            </ul>
          </div>
          <div class="section">
            <p>
              <strong>2021</strong>
              <br>
              Stage en boucherie
            </p>
            <ul class="experience-list">
              <li>Ca ne vous regarde pas</li>
            </ul>
          </div>
          <div class="section">
            <h2>Études <br><span class="text-blue">& formations</span></h2>
            <p>
              <strong>2018 <i class="fas fa-long-arrow-alt-right"></i> 2024</strong>
              <br>
              <em>Ingénieur</em>, ECE Paris
            </p>
            <p>
              <strong>2017-2017</strong>
              <br>
              <em>Ingénieur</em>, ESTACA Saint Quentin en Yvelines
            </p>
            <p>
              <strong>2010-2017 <i class="fas fa-long-arrow-alt-right"></i> 2009</strong>
              <br>
              <em>Lycée scientifique</em>, Blanche de Castille Villemomble
            </p>
          </div>
          <div class="section">
            <h2>Autres <br><span class="text-blue">expériences</span></h2>
            <p>
              Permis B, possession d’une BMW 116i E81 6 vitesses trois portes bleu métallisé
              <br>
              Animateur sur ArurthFM tous les weekends
              <br>
              Recalé par Ferrari Levallois, Porsche Roissy, Michelin et bien d'autres
            </p>
          </div>
        </div>
      </div>
    </div>
</body>